.about {
    margin-top: 65px;

    &-title {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__main {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-text {
            width: 515px;
            color: var(--color-1);
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
        }

        &-img {

            img {
                border-bottom: 1px solid var(--color-2);
            }

            &::before {
                content: "";
                width: 84px;
                height: 84px;
                background: url("../../images/dots/dot-1/dot-1.png");
                background-repeat: no-repeat;
                position: absolute;
                margin-top: 55px;
            }

            &::after {
                content: "";
                width: 104px;
                height: 56px;
                background: url("../../images/dots/dot-2/dot-2.png");
                background-repeat: no-repeat;
                position: absolute;
                bottom: 150px;
                right: 10px;
            }
        }
    }

    &__skills {
        padding-top: 115px;

        &-row {
            display: flex;
            gap: 17px;
            justify-content: center;
            align-items: self-start;
            padding-top: 50px;
        }
    }

    &__facts {
        padding-top: 115px;

        &-row {
            display: flex;
            justify-content: space-between;

            &-wrap {
                width: 676px;
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                padding-top: 30px;

                &-text {
                    border: 1px solid var(--color-1);
                    color: var(--color-1);
                    padding: 8px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px;

                    &-span {
                        color: var(--color-3);
                    }
                }
            }

            &-img {
                padding-top: 30px;
                padding-right: 90px;
            }
        }
    }
}