.button-demo {
    background: transparent;
    border: 1px solid var(--color-1);
    padding: 8px 16px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-1);
    transition: all 0.3s;
}

.button-demo:hover {
    background: rgba(171, 178, 191, 0.2);
    transition: all 0.3s;
}

.button-live {
    background: transparent;
    border: 1px solid var(--color-2);
    padding: 8px 16px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s;
}

.button-live:hover {
    background: rgba(199, 120, 221, 0.2);
    transition: all 0.3s;
}